[Unit]
Description=RustBinary-DataTables

[Service]
ExecStart=/usr/local/bin/rust-datatable
Restart=always
User=root
Group=root
Environment=VERSION=1.0
WorkingDirectory=/usr/local/bin
RestartSec=3
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=multi-user.target